body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to bottom right, #f8fdf9, #f1f9f3);
  color: #333;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: transparent;
}

.logo {
  font-size: 1.4rem;
  font-weight: bold;
  color: #1f5122;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li {
  cursor: pointer;
  transition: color 0.3s;
}

.nav-links li:hover {
  color: #1f5122;
}

.main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 80px;
  flex: 1;
}

.text-section {
  width: 50%;
}

.text-section h1 {
  font-size: 2.4rem;
  font-weight: 700;
  color: #1a381e;
  margin-bottom: 15px;
}

.text-section p {
  color: #4b4b4b;
  margin-bottom: 25px;
  line-height: 1.5;
}

.buttons {
  display: flex;
  gap: 15px;
}

.upload-btn,
.predict-btn {
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

.upload-btn {
  background-color: #1f5122;
  color: white;
}

.upload-btn:hover {
  background-color: #174b1a;
}

.predict-btn {
  background-color: white;
  border: 2px solid #1f5122;
  color: #1f5122;
}

.predict-btn:hover {
  background-color: #e6f2e7;
}

.result {
  margin-top: 25px;
  background: #eaf8ec;
  padding: 15px 20px;
  border-radius: 10px;
  border-left: 5px solid #1f5122;
  font-size: 1.1rem;
}

.image-section {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaf-preview {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.placeholder {
  background-color: #eef7ef;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888;
  border-radius: 20px;
  border: 2px dashed #c8e0ca;
}

footer {
  text-align: center;
  padding: 20px;
  color: #4b4b4b;
  font-size: 0.9rem;
  background-color: transparent;
}

.about-section {
  background-color: #1f5122;
  padding: 40px 20px;
  text-align: center;
  border-top: 1px solid #ddd;
}

.about-section h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: white; /* greenish tone */
}

.about-section p {
  font-size: 1rem;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  color: #3e9844;
}